{{ define "main" }}

<section class="section gallery">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center mb-5">
        <h1 class="font-weight-bold">{{.Title}}</h1>
      </div>
      {{ range (where .Site.RegularPages "Section" "kittens") }}
      <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
        <div class="block">
          <div class="gallery-overlay">
            <a href="{{ .Permalink }}" class="gallery-popup">
              <!-- <i class="tf-ion-plus-round"></i> -->
            </a>
          </div>
          <img class="img-fluid" src="{{range first 1 .Params.images}}{{.|absURL}}{{end}}" alt="{{.Title}}">
        </div>
        <div class="product-info">
        <h4 class="mb-2"><a href="{{.Permalink}}" class="link-title">{{.Title}}</a></h4>
        <!-- <p class="price">{{if .Params.discount_price}}{{site.Params.currency}}{{.Params.discount_price}}{{else}}{{site.Params.currency}}{{.Params.price}}{{end}}
          {{if .Params.discount_price}}<s class="price">{{site.Params.currency}}{{ .Params.price }}</s>{{end}}
          </p> -->
        </div>
      </div>
      {{ else }}
      <div>
        <h2>We are excited to announce that our first litter of the year is expected in <b>late July</b> and we are now open for
        reservations!<br></h2>
        <h2><br></h2>
        <h2>Each of our kittens will come with:<br></h2>
        <h2><br></h2>
        
          <h5>
            <ol>
              <li>2-week trial period!</li>
              <li>Three shots of FVRCP vaccination</li>
              <li>Comprehensive vet check-up and health certificate</li>
              <li>One shot of rabies vaccine if needed</li>
              <li>Microchipped</li>
              <li>Dewormed</li>
              <li>Spayed/neutered</li>
              <li>CFA registration certificate</li>
              <li>A copy of the health tests of parents</li>
              <li>Onboarding package (dry food, wet canned food, carrier, toys)</li>
              <li>Contract</li>
              <li>Free delivery around Boston, Seattle, Oregon, and Vancouver</li>
            </ol>
          </h5>
        </div>
       
      {{ end }}
    </div>
  </div>
</section>

{{ end }}